.home {
    display: flex;
    flex-direction: row;
}

.groups {
    margin: 0 2em;
    border-color: rgb(42, 42, 42);
    border-style: solid;
    border-width: 0 2px 0 0;
    width: 30%;
}

.group {
    background-color: #ff9100;
    padding: 1px 8px;
    margin: 8px 0;
    text-align: left;
    border-color: rgb(42, 42, 42);
    border-width: 2px;
    width: 90%;
    border-radius: 1rem;
}

.group:hover {
    animation: 1s group-hover;
}

.no-groups {
    font-family: "Inter", sans-serif;
    color: white;
}

.group-text {
    font-family: "Inter", sans-serif;
    color: rgb(42, 42, 42);
}

.section-title {
    letter-spacing: 0.25px;
    color: rgb(42, 42, 42);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    text-align: left;
}

@keyframes group-hover {
    0% {

    }

    50% {
        box-shadow: 0 0 8px 1px rgb(42, 42, 42);
    }

    100% {

    }
}
