@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1.5em;
}

.navbar-login {
    padding: 0;
    margin: 0;
}

.navbar-logo {
    color: white;
    letter-spacing: 4px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}
