@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home {
    display: flex;
    flex-direction: row;
}

.timetable {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.times {
    display: grid;
    margin: 75px 0 0 0;
}

.cell, .days {
    width: 200px;
    height: 50px;
    margin: 4px;
    border-radius: .5em;
}

.cell-text {
    line-height: 12px;
    height: 12px;
}

.cell:hover {
    animation: hover-cell 1s;
    animation-fill-mode: forwards;
}

.time {
    color: rgb(42, 42, 42);
    width: 100px;
    height: 25px;
    margin: 0;
}

.green {
    color: rgb(87, 202, 87);
    background-color: rgb(87, 202, 87);
}

.red {
    color: rgb(216,93,93);
    background-color: rgb(216, 93, 93);
}

@keyframes hover-cell {
    from {
    }
    to {
        color: #000000
    }
}
